{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img src="{% static 'cars/images/car.png' %}" alt="Logo">
            <h1>CarAnalitics</h1>
            <nav>
                <a href="{% url 'home' %}">Головна</a>
                <button type="button", id="search-button">Пошук</button>
                <a href="{% url 'analitics' %}">Аналітика</a>
                <a href="{% url 'dashboard' %}">Кабінет</a>
                <a href="{% url 'registration' %}">Регістрація</a>
                <a href="{% url 'login' %}">Вхід</a>
            </nav>
        </div>
    </header>
</body>
</html>